.catablog_row {
	clear: left;
	margin: 0 0 0.5em 0;
}

.catablog_image {
	float: left;
	margin: 0 10px 2em 0;
}
.catablog_title {
	
}
.catablog_description {
	
}

.clearFloat {
	content: ".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}