

.catablog_row {
	clear: left;
	margin: 0 0 0.5em 0;
}



.catablog_image {
	float: left;
	margin: 0 10px 2em 0;
}
.catablog_image.clickable {
	cursor: pointer;
}
.catablog_image.clickable:hover {
	border-color: red;
}
.catablog_title {
	
}
.catablog_description {
	
}



#catablog_curtain {
	display: block;
	position: absolute;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 3000;
}
#catablog_lightbox {
	display: none;
	position: absolute;
	width: 100%;
	top: 100px;
	z-index: 3100;
}
#catablog_lightbox #catablog_whiteboard {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	background-image: url('./../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px #000 solid;
	border-width: 0 1px 2px 0;
}
#catablog_lightbox #catablog_whiteboard img {
	display: none;
}



#catablog_lightbox_meta {
	display: none;
	padding: 0.5em 0;
}
#catablog_lightbox_meta .catablog_lightbox_title {
	float: left;
	font-size: 14px !important;
	font-weight: bold !important;
}
#catablog_lightbox_meta .catablog_lightbox_nav {
	float: right;
}
#catablog_lightbox_meta .catablog_lightbox_nav a.disabled {
	color: #aaa !important;
}
#catablog_lightbox_meta .catablog_lightbox_desc {
	display: block;
	clear: both;
	line-height: 1.5;
}


.clearFloat {
	content: ".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}