.catablog-row {
	position: relative !important;
	display: block !important;
	clear: none !important;
	float: none !important;
	
	margin: 0;
	padding: 5px;
}
.catablog-image {
	position: absolute !important;
	display: block !important;
	clear: none !important;
	float: none !important;
}
.catablog-image.catablog-clickable {
	cursor: pointer;
}
.catablog-image.catablog-clickable:hover {
	border-color: red;
}
.catablog-title {
	display: block !important;
	clear: none !important;
	float: none !important;
}
.catablog-description {
	display: block !important;
	clear: none !important;
	float: none !important;
}

.catablog-selected {
	
}


.catablog-gallery.catablog-row {
	display: block !important;
	position: relative !important;
	float: left !important;
	padding: 0 !important;
	margin: 5px;
}
.catablog-gallery.catablog-row:hover .catablog-title {
	display: block !important;
}
.catablog-gallery.catablog-row .catablog-image {
	position: static !important;
}
.catablog-gallery.catablog-row .catablog-title {
	display: none !important;
	position: absolute !important;
	bottom: 0px;
	left: 0px;
	color: #fff;
	background: #222;
	opacity: 0.8;
/*	z-index: 9999;*/
	margin: 0 !important;
	padding: 5px !important;
	font-weight: normal !important;
	font-size: 18px !important;
}
.catablog-gallery.catablog-row .catablog-description {
	display: none !important;
}






#catablog-curtain {
	display: block;
	position: fixed !important;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 9000;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
#catablog-lightbox {
	display: none;
	position: fixed !important;
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0px;
	z-index: 9200;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
#catablog-lightbox #catablog-whiteboard {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	background-image: url('./../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px #000 solid;
	border-width: 0 1px 2px 0;
}



#catablog-lightbox-meta {
	position: relative;
	display: none;
	padding: 0.5em 0;
}
#catablog-lightbox-meta .catablog-lightbox-title {
	font-size: 14px !important;
	font-weight: bold !important;
	-moz-user-select: normal !important;
	-khtml-user-select: normal !important;
	user-select: normal !important;
}
#catablog-lightbox-meta .catablog-lightbox-desc {
	position: relative;
	line-height: 1.5;
	-moz-user-select: normal !important;
	-khtml-user-select: normal !important;
	user-select: normal !important;
	
}



#catablog-lightbox-image {
	position: relative;
	display: none;
}
#catablog-lightbox-image a {
	display: block;
	position: absolute;
	top: 0px;
	width: 50%;

	background-image: url("data:image/gif;base64,AAAA");
}
#catablog-lightbox-next:hover span, #catablog-lightbox-prev:hover span {
	display: block !important;
}
#catablog-lightbox-next {
	right: 0px;
}
#catablog-lightbox-prev {
	left: 0px;
}




#catablog-lightbox-next .catablog-lightbox-nav-label {
	right: 0px;
	bottom: 20px;
	padding-left: 30px;
	border-radius: 30px 0 0 30px;
	-moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
}
#catablog-lightbox-prev .catablog-lightbox-nav-label {
	left: 0px;
	top: 20px;
	padding-right: 30px;
	border-radius: 0 30px 30px 0;
	-moz-border-radius: 0 30px 30px 0;
	-webkit-border-radius: 0 30px 30px 0;
}

.catablog-lightbox-nav-label {
	display: none !important;
	display: block;
	position: absolute;
	background: #fff;
	color: #555;
	padding: 15px;
	font-size: 22px;
	line-height: 30px;
	font-weight: bold;
	cursor: pointer;
}

