.catablog-row {
	position: relative !important;
	display: block !important;
	clear: none !important;
	float: none !important;
	
	margin: 0;
	padding: 5px 5px 15px 5px;
}


.catablog-images {
	float: left;
}
.catablog-image {
	display: block !important;
	height: auto !important;
	clear: none !important;
	float: none !important;
}
.catablog-image.catablog-clickable,
.catablog-subimage.catablog-clickable {
	cursor: pointer;
}
.catablog-image.catablog-clickable:hover {
	border-color: red;
}



.catablog-image.catablog-subimage {
	display: block !important;
	margin: 2px 0 0 0 !important;
	height: auto !important;
	clear: none !important;
	float: none !important;
}



.catablog-title {
	display: block !important;
	clear: none !important;
	float: none !important;
}
.catablog-description {
	display: block !important;
	clear: none !important;
	float: none !important;
}
.catablog-description:after {
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}
.catablog-selected {
	
}


.catablog-gallery.catablog-row {
	display: block !important;
	position: relative !important;
	float: left !important;
	padding: 0 !important;
	margin: 5px;
}
.catablog-gallery.catablog-row:hover .catablog-title {
	display: block !important;
}
.catablog-gallery.catablog-row .catablog-image {
	position: static !important;
}
.catablog-gallery.catablog-row .catablog-title {
	display: none !important;
	position: absolute !important;
	bottom: 0px;
	left: 0px;
	color: #fff;
	background: #222;
	opacity: 0.8;
/*	z-index: 9999;*/
	margin: 0 !important;
	padding: 5px !important;
	font-weight: normal !important;
	font-size: 18px !important;
}
.catablog-gallery.catablog-row .catablog-description {
	display: none !important;
}






#catablog-curtain {
	display: block;
	position: fixed !important;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 10000;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
#catablog-lightbox {
	display: none;
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0px;
	z-index: 10200;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
#catablog-lightbox #catablog-whiteboard {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	background-image: url('./../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px #000 solid;
	border-width: 0 1px 2px 0;
}



#catablog-lightbox-meta {
	position: relative;
	display: none;
	padding: 0.5em 0;
	background: #fff;
}
#catablog-lightbox-meta .catablog-lightbox-title {
	font-size: 14px !important;
	font-weight: bold !important;
	-moz-user-select: normal !important;
	-khtml-user-select: normal !important;
	user-select: normal !important;
}
#catablog-lightbox-meta .catablog-lightbox-desc {
	position: relative;
	line-height: 1.5;
	-moz-user-select: normal !important;
	-khtml-user-select: normal !important;
	user-select: normal !important;
	
}



#catablog-lightbox-image {
	position: relative;
	display: none;
}
#catablog-lightbox-image a {
	display: block;
	position: absolute;
	top: 0px;
	width: 50%;
	text-decoration: none;
	background: transparent !important;
	background-image: url("data:image/gif;base64,AAAA") !important;
}
#catablog-lightbox-image a span {
	display: block;
}
#catablog-lightbox-image a span:first-letter {
	border-bottom: 1px #caa solid;
}
#catablog-lightbox-next:hover span,
#catablog-lightbox-prev:hover span,
#catablog-lightbox-next:focus span,
#catablog-lightbox-prev:focus span {
	display: block !important;
}
#catablog-lightbox-next {
	right: 0px;
	outline: 0 none !important;
	border: 0 none !important;
}
#catablog-lightbox-prev {
	left: 0px;
	outline: 0 none !important;
	border: 0 none !important;
}
#catablog-lightbox-close {
	display: block;
	display: none;
	position: absolute;
	top: -14px;
	right: -14px;
	width: 48px;
	height: 48px;
	background-image: url("./../images/close-lightbox.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	outline: 0 none !important;
	border: 0 none !important;
}

#catablog-lightbox-next .catablog-lightbox-nav-label {
	right: 0px;
	bottom: 20px;
	padding-left: 30px;
	border-radius: 30px 0 0 30px;
	-moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
}
#catablog-lightbox-prev .catablog-lightbox-nav-label {
	left: 0px;
	top: 20px;
	padding-right: 30px;
	border-radius: 0 30px 30px 0;
	-moz-border-radius: 0 30px 30px 0;
	-webkit-border-radius: 0 30px 30px 0;
}

.catablog-lightbox-nav-label {
	display: none !important;
	display: block;
	position: absolute;
	background: #fff;
	color: #555;
	padding: 15px;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
	cursor: pointer;
}
.catablog-lightbox-nav-label:hover {
	
}
.catablog-credits {
	display: block;
	height: 0px;
	clear: both;
	overflow: hidden;
	padding: 0px;
	margin: 0 0 1em 0;
}