body {
	
}


#catablog_items tbody tr {
	background-color: #fff;
}
#catablog_items tbody.sort_enabled tr {
	cursor: move;
	background-color: #f6f6f6;	
}
#catablog_items tbody.sort_enabled tr:hover {
	background-color: #fee;
}

#image_uploader {
	padding: 5px;
	margin: 0 0 1em 0;
	border: 1px rgb(223,223,223) solid;
	background-color: #fff;
	width: 400px;
	-webkit-border-radius: 4px;
}

#image_uploader input {
	margin: 0 0 0 20px;
	border: 0 none;
	background-color: #fff;
}
#image_uploader img {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px rgb(223,223,223) solid;
	-webkit-border-radius: 2px;
}



#icon-catablog {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url('./../images/cb_icon_32.png') no-repeat scroll left top;
}

.cb_order_column {
	width: 30px;
	text-align: center !important;
}
.cb_icon_column {
	width: 80px;
	text-align: center !important;
}

.cb_item_handle {
	display: block;
	width: 20px;
	height: 50px;
	background-color: #aaa;
	background: transparent url('./../images/sortable_handle.png') repeat scroll left top;
	cursor: move;
}
.cb_item_icon {
	width: 50px;
	height: 50px;
	border: 0 none;
}


.column-rm {
	width: 6em;
}




form#catablog-form input#image {
	width: 250px;
	border: 1px #666 solid;
}





form#catablog-options fieldset {
	margin: 1em 0;
	padding: 10px;
	border: 1px #e3e3e3 solid;;
	background-color: #fff;
}
form#catablog-options fieldset legend {
	font-size: 18px;
	font-weight: bold;
}
form#catablog-options #thumbnail_settings {
	float: left;
	width: 260px;
	padding: 0 20px 0 0;
	border-right: 1px #e3e3e3 solid;
}
form#catablog-options #thumbnail_preview {
	margin: 0 0 0 300px;
}
form#catablog-options p {
	margin: 0 0 3em 0;
}

.demo_box {
	background-color: #ccc;
	border: 1px #999 solid;
	margin: 0 0 10px 0;
}



form fieldset.disabled {
	color: #888 !important;
}
form fieldset.disabled input {
	color: #888 !important;
}





#catablog_load_curtain {
	display: none;
	position: absolute;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 10000;
}
#catablog_load_display {
	position: relative;
	width: 200px;
	height: 50px;
	margin: 50px auto 0 auto;
	padding: 35px 0 0 0;
	text-align: center;
	background-color: #fff;
	background-image: url('./../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center top;
	z-index: 10001;
}







/* SLIDER CLASSES */
#red, #green, #blue {
	display: block;
	width: 256px;
	margin: 7px 0;
}
#swatch {
	width: 120px;
	height: 100px;
	margin-top: 18px;
	margin-left: 350px;
	background-image: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }













.clear_float:after {
	content: ".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}

.hide {
	display: none;
}