body {
	
}


#catablog_items tbody tr {
	background-color: white;
}



#image_uploader {
	padding: 5px;
	margin: 0 0 1em 0;
	border: 1px rgb(223,223,223) solid;
	background-color: #fff;
	width: 400px;
	-webkit-border-radius: 4px;
}

#image_uploader input {
	margin: 0 0 0 20px;
	border: 0 none;
	background-color: #fff;
}
#image_uploader img {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px rgb(223,223,223) solid;
	-webkit-border-radius: 2px;
}



#icon-catablog {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url('./../images/cb_icon_32.png') no-repeat scroll left top;
}

.cb_order_column {
	width: 20px;
	text-align: center !important;
}
.cb_icon_column {
	width: 50px;
	text-align: center !important;
}

.cb_item_handle {
	display: block;
	width: 20px;
	height: 50px;
	background-color: #aaa;
	background: transparent url('./../images/sortable_handle.png') repeat scroll left top;
	cursor: move;
}
.cb_item_icon {
	width: 50px;
	height: 50px;
	border: 0 none;
}


.column-rm {
	width: 6em;
}




form#catablog-options fieldset {
	margin: 0 0 2em 0;
}

.jPicker {
	display: block;
}
.jPicker td.Text input {
	-moz-box-sizing: padding-box !important;

	font-size: 11px;
}



.demo_box {
	background-color: #ccc;
	border: 1px #999 solid;
	margin: 0 0 10px 0;
}




.clear_float:after {
	content: ".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}